{% extends 'mainapp/base.html' %}

{% block title %}Asignación de Actividades{% endblock %}

{% block content %}

{% load static %}

<div class="h1">
    <a class="navbar-brand" href={% url 'calendario_admin' %} style="color: #AAB7B8;">
        <img src="{% static 'mainapp/images/icon_calendario.png' %}" alt="Logo" width="60" height="60" class="d-inline-block align-text-top">
        ASIGNACIÓN DE ACTIVIDADES
    </a>
    <br>
    <div class='h2' style='color: white;'>Bienvenido, {{ nombre }}!</div>
</div>

<br>

<div class="container-fluid">
    {% if messages %}
        <div class="container mb3">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="background: #12a15e">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#nuevaActividadModal">
        Asignar Nueva Actividad
    </button>
    <div id="calendar" style="margin-top: 20px;"></div>
</div>

<!-- Modal para registrar nueva actividad -->
<div class="modal fade" id="nuevaActividadModal" tabindex="-1" aria-labelledby="nuevaActividadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="nuevaActividadModalLabel">Asignar Nueva Actividad</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary" name="nueva_actividad">Asignar Actividad</button>
                </form>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<!-- Modal para editar actividad -->
<div class="modal fade" id="editarActividadModal" tabindex="-1" aria-labelledby="editarActividadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarActividadModalLabel">Editar Actividad</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="editarActividadFormContainer">
                <!-- Contenedor donde se mostrará el formulario de edición -->
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: "{% url 'obtener_actividades' %}",
            eventContent: function(arg) {
                var html = '<div style="color: ' + arg.event.backgroundColor + '">' + arg.event.title + '</div>';
                return { html: html };
            },
            eventClick: function(info) {
                info.jsEvent.preventDefault();
                var url = info.event.url;
                // Lógica para cargar los datos de la actividad en el formulario de edición
                fetch(url)
                    .then(response => response.text())
                    .then(html => {
                        document.getElementById('editarActividadFormContainer').innerHTML = html;
                        $('#editarActividadModal').modal('show');
                    });
            }
        });
        calendar.render();
    });
</script>

{% endblock %}
