{% extends 'mainapp/base.html' %}

{% block title %}CALENDARIO DE ACTIVIDADES{% endblock %}

<!-- FullCalendar CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.css" rel="stylesheet">

{% block content %}

{% load static %} <!-- Cargar el tag static -->
{% get_media_prefix as media_prefix %} <!-- Obtener el prefijo de medios -->

<div class="h1">
    <a class="navbar-brand" href={% url 'calendario' %} style="color: #AAB7B8;">
        <img src="{% static 'mainapp/images/icon_calendario.png' %}" alt="Logo" width="60" height="48" class="d-inline-block align-text-top">
       CALENDARIO DE ACTIVIDADES
    </a>
</div>


<br>

<div class='h2' style='color: white;'>Bienvenido, {{ usuario }}!</div>

<br>

<div id="calendar"></div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- FullCalendar JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            height: '100%'
        });
        calendar.render();
    });
</script>

{% endblock %}