{% extends 'mainapp/base.html' %}

{% block title %}Detalle de Crítica{% endblock %}

{% block content %}


{% if messages %}
    <div class="container mb3">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="background: #12a15e">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
{% endif %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 100%; border-radius: 10px;">
                <img class="card-img-top" src="{{ critica.ruta_foto_critica.url }}" alt="Card image cap" style="border-radius: 10px;">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold;">{{ critica.nombre }}</h5>
                    <p class="card-text">{{ form.sipnosis }}</p>
                </div>
            </div>
            <br>
            <div class="video-container" style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto;">
                <iframe width="560" height="315" src="{{ critica.link_trailer }}" frameborder="0" allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
            </div>
            <br>
            
            <label for="critica" style="color: aliceblue; font-weight: bold;">Crítica</label>
            <div class="card">
                <div class="card-body" style="width: 100%;">
                    {{ form.critica }}
                </div>
            </div>
            <br>
        </div>
        <div class="col-md-6">
            <label for="nombre" style="color: aliceblue; font-weight: bold;">Nombre</label>
            <div class="card">
                <div class="card-body" style="width: 100%;">
                    {{ form.nombre }}
                </div>
            </div>
            <br>

            <label for="director" style="color: aliceblue; font-weight: bold;">Director</label>
            <div class="card">
                <div class="card-body" style="width: 100%;">
                    {{ form.director }}
                </div>
            </div>
            <br>
            
            <label for="escritor" style="color: aliceblue; font-weight: bold;">Escritor</label>
            <div class="card">
                <div class="card-body" style="width: 100%;">
                    {{ form.escritor }}
                </div>
            </div>
            <br>

            <label for="reparto" style="color: aliceblue; font-weight: bold;">Reparto/ Cast</label>
            <div class="card">
                <div class="card-body" style="width: 100%;">
                    {{ form.reparto }}
                </div>
            </div>
            <br>

            <label for="ano" style="color: aliceblue; font-weight: bold;">Año</label>
            <div class="card">
                <div class="card-body" style="width: 100%;">
                    {{ form.ano }}
                </div>
            </div>
            <br>

            <label for="pais" style="color: aliceblue; font-weight: bold;">País</label>
            <div class="card">
                <div class="card-body" style="width: 100%;">
                    {{ form.pais }}
                </div>
            </div>
            <br>

            <label for="categoria_genero" style="color: aliceblue; font-weight: bold;">Categoría</label>
            <div class="card">
                <div class="card-body" style="width: 100%;">
                    {{ form.categoria_genero }}
                </div>
            </div>
            <br>

            <label for="donde_ver" style="color: aliceblue; font-weight: bold;">Dónde ver</label>
            <div class="card">
                <div class="card-body" style="width: 100%;">
                    {{ form.donde_ver }}
                </div>
            </div>
            <br>

            <label for="calificacion" style="color: aliceblue; font-weight: bold;">Calificación por cine en tus manos</label>
            <div class="card">
                <div class="card-body" style="width: 100%;">
                    {{ form.calificacion }}
                </div>
            </div>
            <br>
            <label for="ruta_foto_critica" style="color: aliceblue; font-weight: bold;">Foto de crítica</label>
            <div class="card">
                <div class="card-body" style="width: 100%;">
                    {{ form.ruta_foto_critica }}
                    <br>
                    <small class="form-text text-muted">Archivo actual: {{ critica.ruta_foto_critica.url }}</small>
                </div>
            </div>
            <br>
            <label for="trailer_file" style="color: aliceblue; font-weight: bold;">Archivo de tráiler</label>
            <div class="card">
                <div class="card-body" style="width: 100%;">
                    {{ form.trailer_file }}
                    {% if critica.link_trailer %}
                    <br>
                    <small class="form-text text-muted">Archivo actual: <a href="{{ critica.link_trailer }}">{{ critica.link_trailer }}</a></small>
                    {% endif %}
                </div>
            </div>

            <br>
            <label for="tipo" style="color: aliceblue; font-weight: bold;">Tipo</label>
            <div class="card">
                <div class="card-body" style="width: 100%;">
                    {{ form.tipo }}
                </div>
            </div>
            <br>
            <label for="nombre_espanol" style="color: aliceblue; font-weight: bold;">Nombre en español</label>
            <div class="card">
                <div class="card-body" style="width: 100%;">
                    {{ form.nombre_espanol }}
                </div>
            </div>
            <br>
            <label for="no_capitulos" style="color: aliceblue; font-weight: bold;">Número de capítulos</label>
            <div class="card">
                <div class="card-body" style="width: 100%;">
                    {{ form.no_capitulos }}
                </div>
            </div>
            <br>
            
            <button type="submit" class="btn btn-success">Guardar Cambios</button>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Eliminar Crítica</button>
            <br>
            <br>
        </div>
    </div>
</form>

<!-- Modal de confirmación de eliminación -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if messages %}
                    <div class="container mb-3">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                ¿Estás seguro de que deseas eliminar esta crítica?
            </div>
            <div class="modal-footer">
                <form method="POST" action="{% url 'eliminar_critica' critica.pk %}">
                    {% csrf_token %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" name="eliminar" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
