{% extends 'mainapp/base.html' %}

{% block title %}TRAILERS{% endblock %}

{% block content %}

{% load static %} <!-- Cargar el tag static -->
{% get_media_prefix as media_prefix %} <!-- Obtener el prefijo de medios -->

<div class="h1">
    <a class="navbar-brand" href={% url 'trailers' %} style="color: #AAB7B8;">
        <img src="{% static 'mainapp/images/icon_trailer.png' %}" alt="Logo" width="60" height="48" class="d-inline-block align-text-top">
       TRAILERS
    </a>
</div>

<br>

<!-- Formulario de filtro -->
<div class="dropdown" style="font-family: oswald; font-size: 22px;">
    <button type="button" class="btn btn-info dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      SELECCIONA UN FILTRO
    </button>

    <ul class="dropdown-menu">
        <form method="GET" action="" style="margin: 2rem;">
            {{ filter_form.as_p }}
            <button type="submit" class="btn btn-success">Aplicar filtros</button>
            <a class="btn btn-primary" href="{% url 'trailers' %}" role="button" aria-disabled="true">Limpiar filtros</a>
        </form>
    </ul>
</div>

<br>    
<br>

{% for critica in criticas %}
    <a href="{% url 'detalle_critica' critica.pk %}" class="card mb-3 text-decoration-none text-reset">
        <div>
            <!-- Corrección aquí: Eliminar "/media/" extra -->
            <img src="{{ critica.ruta_foto_critica.url }}" class="card-img-top" alt="..." style="height: 35rem;">
            <div class="card-body">
                <h5 class="card-title">{{ critica.nombre }}</h5>
                <p class="card-text">{{ critica.critica }}</p>
                <p class="card-text"><small class="text-body-secondary">{{ critica.datetime }}</small></p>
                <br>
                <footer class="blockquote-footer"><cite title="Source Title">{{ critica.user.nombre }}</cite></footer>
            </div>
            <div class="card-footer text-body-secondary">
                <label>Calificacion: {{ critica.calificacion }}</label><br>
                    {% with calificacion=critica.calificacion %}
                        {% if calificacion is not None %}
                            {% for i in "x"|ljust:10 %}
                                {% if forloop.counter0 < calificacion|default:0 %}
                                    <i class="fa fa-star"></i>
                                {% elif forloop.counter0 < calificacion|default:0|add:0.5 %}
                                    <i class="fa fa-star-half-alt"></i>
                                {% else %}
                                    <i class="far fa-star"></i>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
            </div>
        </div>
    </a>
{% endfor %}

{% endblock %}
